@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@custom-variant dark (&:where(.dark, .dark *));

@theme {
}

/*
  边框颜色默认设置
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: hsl(var(--border));
  }
}

/* 自定义实用工具类 */
@utility flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@utility flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@utility flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@utility fl {
  float: left;
}

@utility fr {
  float: right;
}
